.button--clear-container{
    text-align: right;
    margin-top: 19px;
}

.btn--clear{
    padding: 10px 20px;
    background-color: #fa3131;
    color: #f5f2f2;
    border: none;
    border-radius: 8px;
}