.checkbox{
    width: 23px;
    height: 23px;
}

.task_todo{
    font-size: 29px;
    font-weight: 600;
    margin-left: 5px;
}

.finish{
    text-decoration: line-through;
    color: #171212;
}

.delete{
    margin: 5px 10px 0px 0px
}

.btn--delete{
    width: 26px;
    height: 26px;
}